body {
	background-color: rgb(14, 14, 14);
	border-color: rgb(14, 14, 14);
}

hr {
	height: 3px;
	background-color: #ccc;
	border: none;
}

.search > * {
	margin: 8px;
	border-radius: 4px;
}

@media only screen and (max-width: 768px) {
	.row > img {
		display: none;
	}
}

@media only screen and (max-width: 700px) {
	.display-3 {
		font-size: 25px;
	}
}

@media only screen and (max-width: 1000px) {
	.display-3 {
		font-size: 50px;
	}
}

#search-button {
	color: white;
	border: white solid 1px;
}

#search-button:hover {
	background-color: rgb(247, 77, 230);
	color: black;
}

#search-results {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-end;
	align-items: flex-end;
	resize: horizontal;
	overflow: auto;
	flex-wrap: wrap;
}

#search-results > * {
	padding: 10px;
	height: 400px;
}

.jumbotron {
	background: url("https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif")
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: auto;
}
